################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/CSMedium_4.3/.vs/CSMedium_4.3/v15/Server/sqlite3
